@CHARSET "ISO-8859-1";
body{
	font-family: "Verdana";
}
fieldset{
	width: auto;
}
legend{
	font-weight: bold;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   color: white;
   background:#eb8427;
   text-align: center;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
#field{
	margin-bottom: 15px;
}